.banner-image {
  float: left;
  width: 56px;
  height: 56px;
  margin-right: 10px;
}

.images {
  text-align: center;
  margin: 2em 0;
}

.figure {
  display: inline-block;
  margin-bottom: 0;
  img {
    margin: 0 10px;
    max-height: 500px;
  }
  figcaption {
    color: $grey-color;
    text-align: center;
    margin-top: 1em;
  }
}

.embedded-video {
  display: block;
  margin: 2em auto;
}

.pattern-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
}
