
.pattern {
  display: flex;
  text-align: left;
  padding: 10px;
  margin-top: 1em;
}

.pattern-input {
  width: 37%;  
}

.pattern-output {
  border: solid grey 1px;
  border-radius: 5px;
  width: 62%;
  font-size: 14px;
  background: white;
  padding: 10px;
}

.controls {
  padding-top: 10px;
  text-align: left;
}

@media all and (max-width: 1200px) {
  .pattern {
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 10px 20px;
  }
  .pattern-input {
    width: 100%;
  }
  .controls {
    margin: 25px 0;
  }
  .pattern-output {
    width: 100%;
    min-height: 400px;
  }
}

form { 
  display: table;
  
}

p { 
  display: table-row;
  text-align: left;
}

label { 
  display: table-cell;
  text-align: right;
  padding: 5px;
}

input { 
  display: table-cell;
  font-family: 'Open Sans', sans-serif;
  border: solid grey 1px;
  border-radius: 3px;
}

button {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  transition-duration: 0.4s;
}

button i {
  margin-right: 8px;
}

#submit {
  background: #A0D468;
  border: solid #A0D468 1px;
}

#submit:hover {
  background: #8CC152;
}

#copy {
  background: #4FC1E9;
  border: solid #4FC1E9 1px;
}

#copy:hover {
  background: #3BAFDA;
}

#refresh {
  border: solid #EC87C0 1px;
  background: #EC87C0;
  
}

#refresh:hover {
  background: #D770AD;
}

.radio-buttons-container {
  display: block;
}

.radio-buttons {
  display: flex;
  align-items: center;
}

.radio-buttons p {
  padding: 0;
  margin: 0;
}
