<footer class="site-footer h-card">
  <div class="wrapper">
    <h2 class="footer-heading">{{ config.title | escape }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if config.extra.author %}
            {{ config.extra.author | escape }}
            {%- else %}
            {{ config.title | escape }}
            {%- endif %}
          </li>
          {%- if config.extra.email -%}
          <li><a class="u-email" href="mailto:{{ config.extra.email }}">{{ config.extra.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {%- if config.extra.ravelry_username -%}<li><a href="https://www.ravelry.com/designers/{{ config.extra.ravelry_username }}">{{ load_data(path="templates/icons/ravelry.svg") | safe }} <span class="username">Ravelry</span></a></li>{%- endif -%}
          {%- if config.generate_feed -%}<li><a href="{{ get_url(path="feed.xml") }}">{{ load_data(path="templates/icons/feed.svg") | safe }} <span>Subscribe</span></a></li>{%- endif -%}
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>{{ config.description | escape }}</p>
      </div>
    </div>
  </div>
</footer>
